<p id="notice"><%= notice %></p>

<p>
  <strong>Barcode:</strong>
  <%= @phxtemplabel.barcode %>
</p>

<%= link_to 'Edit', edit_phxtemplabel_path(@phxtemplabel) %> |
<%= link_to 'Back', phxtemplabels_path %>
