  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>
<script>
    setTimeout("$('.alert-success').fadeOut('slow')", 1500)
  </script>
<h1>Enter a Product Request</h1>

<%= render 'form' %>

