  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>
<script>
    setTimeout("$('.alert-success').fadeOut('slow')", 3000)
</script>

  <img src="<%= asset_path( 'logo.jpg' ) %>" />


<h1>Enter a Product Request</h1>

<%= render 'form' %>

