<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Orderitems Import process completed:<%= Date.today.to_time.strftime('%B %e') %> </h1>
    

  </body>
</html>