<h1>Listing Every Line Order Items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Total Sold</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.product %></td>
        <td><%= orderitem.total_sold %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Orderitem', new_orderitem_path %>
