<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear Customer, <br><br>
    
    This is Michael Clemenson again, I am the store manager at Lotus Market. We were able to fullfill your product request for <b><%= @request.name %></b>. It is available at our 
    <b><% if @request.location = "phx" %><%= "Phoenix" %><% else %><%= "Mesa" %><% end %></b>
    location. Please stop by at your convinience. Also, we do not reserve the product so please visit before it becomes unavailable. Meanwhile, if you have any question please feel free to call our store at 602-666-6177. <br><br>
    
    Thank You,<br>
    Michael Clemenson<br>
    Lotus Market<br>
    2043 S. Alma School Rd, Mesa, AZ, 85210<br>
    
  </body>
</html>