<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear Customer, <br><br>
    
    My name is Michael Clemenson and I am the store manager at Lotus Market. I have received and reviewed your request for <b><%= @request.name %></b>. We will be trying our best to get this product in our store
    as soon as possible. When we receive the product, I will be sending you one more email notifying you of availibility. Meanwhile, if you have any question please feel free to call our store at 602-666-6177. <br><br>
    
    Thank You,<br>
    Michael Clemenson<br>
    Lotus Market<br>
    2043 S. Alma School Rd, Mesa, AZ, 85210<br>
    
  </body>
</html>